.u-section-1 .u-sheet-1 {
    min-height: 1482px;
}

.u-section-1 .u-text-1 {
    font-family: "Archivo Black";
    font-size: 3.75rem;
    width: 771px;
    margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
    font-style: italic;
    font-size: 1.125rem;
    margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
    width: 159px;
    margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    border-style: none none solid;
    padding: 0;
}

.u-section-1 .u-list-1 {
    width: 822px;
    min-height: 1194px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, auto);
    height: auto;
    grid-gap: 10px;
    margin: 44px auto 60px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-1 {
    width: 308px;
    height: 308px;
    background-position: 50% 50%;
    margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
    width: 464px;
    min-height: 331px;
    margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
    padding: 0 0 0 30px;
}

.u-section-1 .u-text-4 {
    text-transform: uppercase;
    font-size: 2.25rem;
    margin: 0;
}

.u-section-1 .u-line-1 {
    height: 3px;
    transform-origin: left center;
    margin: 16px auto 0 0;
}

.u-section-1 .u-text-5 {
    margin: 20px 0 0 auto;
}

.u-section-1 .u-btn-2 {
    border-style: none none solid;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px auto 0 0;
    padding: 0;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-2 {
    width: 308px;
    height: 308px;
    background-position: 50% 50%;
    margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
    width: 464px;
    min-height: 331px;
    background-size: auto;
    margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
    padding: 0 0 0 30px;
}

.u-section-1 .u-text-6 {
    text-transform: uppercase;
    font-size: 2.25rem;
    margin: 0;
}

.u-section-1 .u-line-2 {
    height: 3px;
    transform-origin: right center;
    margin: 16px auto 0 0;
}

.u-section-1 .u-text-7 {
    margin: 20px 0 0 auto;
}

.u-section-1 .u-btn-3 {
    border-style: none none solid;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px auto 0 0;
    padding: 0;
}

.u-section-1 .u-container-layout-5 {
    padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-3 {
    width: 308px;
    height: 308px;
    background-position: 50% 50%;
    margin: 0 auto 0 0;
}

.u-section-1 .u-group-3 {
    width: 464px;
    min-height: 331px;
    background-size: auto;
    margin: -308px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
    padding: 0 0 0 30px;
}

.u-section-1 .u-text-8 {
    text-transform: uppercase;
    font-size: 2.25rem;
    margin: 0;
}

.u-section-1 .u-line-3 {
    height: 3px;
    transform-origin: right center;
    margin: 16px auto 0 0;
}

.u-section-1 .u-text-9 {
    margin: 20px 0 0 auto;
}

.u-section-1 .u-btn-4 {
    border-style: none none solid;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px auto 0 0;
    padding: 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-list-1 {
        grid-template-columns: 100%;
    }

    .u-section-1 .u-line-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-line-2 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-line-3 {
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-text-1 {
        width: 720px;
    }

    .u-section-1 .u-list-1 {
        width: 720px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 0;
    }

    .u-section-1 .u-group-1 {
        width: 396px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 0;
    }

    .u-section-1 .u-group-2 {
        width: 396px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 0;
    }

    .u-section-1 .u-group-3 {
        width: 396px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 2374px;
    }

    .u-section-1 .u-text-1 {
        width: 540px;
        font-size: 3rem;
    }

    .u-section-1 .u-list-1 {
        min-height: 1988px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-image-1 {
        width: 325px;
        height: 325px;
    }

    .u-section-1 .u-group-1 {
        min-height: 258px;
        width: 541px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: 0;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 0;
    }

    .u-section-1 .u-image-2 {
        width: 325px;
        height: 325px;
    }

    .u-section-1 .u-group-2 {
        min-height: 258px;
        width: 541px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: 0;
    }

    .u-section-1 .u-container-layout-4 {
        padding-left: 0;
    }

    .u-section-1 .u-image-3 {
        width: 325px;
        height: 325px;
    }

    .u-section-1 .u-group-3 {
        min-height: 258px;
        width: 541px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: 0;
    }

    .u-section-1 .u-container-layout-6 {
        padding-left: 0;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-1 {
        font-size: 2.25rem;
        margin-top: 61px;
        margin-left: 0;
        margin-right: 0;
        width: 340px;
    }

    .u-section-1 .u-text-2 {
        margin-top: 15px;
        margin-left: 0;
    }

    .u-section-1 .u-image-1 {
        margin-left: auto;
    }

    .u-section-1 .u-group-1 {
        width: 340px;
        margin-right: 0;
    }

    .u-section-1 .u-text-4 {
        font-size: 1.5rem;
    }

    .u-section-1 .u-image-2 {
        margin-left: auto;
    }

    .u-section-1 .u-group-2 {
        width: 340px;
        margin-right: 0;
    }

    .u-section-1 .u-text-6 {
        font-size: 1.5rem;
    }

    .u-section-1 .u-image-3 {
        margin-left: auto;
    }

    .u-section-1 .u-group-3 {
        width: 340px;
        margin-right: 0;
    }

    .u-section-1 .u-text-8 {
        font-size: 1.5rem;
    }
}.u-section-2 .u-sheet-1 {
     min-height: 559px;
 }

.u-section-2 .u-layout-wrap-1 {
    margin: 60px auto -71px 0;
}

.u-section-2 .u-layout-cell-1 {
    min-height: 439px;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px 30px 30px 0;
}

.u-section-2 .u-line-1 {
    height: 268px;
    transform-origin: center top;
    width: 2px;
    margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
    min-height: 439px;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px;
}

.u-section-2 .u-text-1 {
    text-transform: uppercase;
    margin: 0;
}

.u-section-2 .u-text-2 {
    margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
    min-height: 439px;
}

.u-section-2 .u-container-layout-3 {
    padding: 30px 0;
}

.u-section-2 .u-image-1 {
    width: 389px;
    height: 379px;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 499px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-bottom: -33px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 362px;
    }

    .u-section-2 .u-line-1 {
        height: 304px;
        width: 8px;
        margin-top: 1px;
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 384px;
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 331px;
    }

    .u-section-2 .u-image-1 {
        width: 319px;
        height: 321px;
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 480px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-bottom: 65px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-2 .u-line-1 {
        height: 390px;
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 100px;
    }

    .u-section-2 .u-image-1 {
        width: 249px;
        height: 249px;
        margin-right: auto;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 355px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-bottom: 60px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-container-layout-1 {
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-image-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 224px;
    }
}

.image-adj {
    width: 400px;
    height: 400px;
}

.login-msg-adj {
    margin-top: 20px;
}

.btn-pos-adj {
    margin-top: 10px;
}


.photo-adj {
    height: 60px;
    width: 60px;
    margin-top: 10px;
}
